.canvas {
  display: flex;
  gap: 30px;
  &__main {
    width: 100%;
    overflow: auto;
  }
  &__options {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    width: 100%;
    max-width: 200px;
    &__item {
      display: flex;
      flex-direction: column;
    }
  }
  &__container {
    padding: 1px;
  }
  &__row {
    display: flex;
  }
  &__cell {
    width: 100%;
    height: 100%;
  }
}